body {
background-color: Thistle;
border: 4px solid Gray;
font-family: sans-serif;
margin-left: auto;
margin-right: auto;
max-width: 1024px;
min-width: 256;
padding-top: 8px;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
}
html {
background: radial-gradient(circle, SkyBlue,Sky-Blue 50%, LightCyan 50 %,Skyblue) ;background-size: 8px 8px;
)